table{ border-collapse: collapse;}

th,tr,td{
    border: 1px solid blue;
    padding: 8px;
}

.exceed{color: #ff0000;}

.not_exceed{color: #00ff00;}

label { display: block}

fieldset{
    display: inline-block;
    border: 1px solid blue;
}